<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<nav class="container">
			<div class="nav pull-left">
				<%= image_tag(("tracking.jpg"), :class => "logo") %>
			</div>
			<div class="nav pull-center">
			<h3>Project Tracking</h3> 
			</div>
			<div class="nav pull-right">
			<%= link_to "Home", root_path %>
			</div>
		</nav>
	</div>
</header>